@charset "UTF-8";



  @font-face {
    font-family: "Relativ";
    src: url("../fonts/RelativFinalPresVF.ttf") format("truetype-variations");
  }


body, html {
    font-family: 'Relativ', Courier, monospace;
    background-color: #000000;
    color: #fbfbfb;
   kerning: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    -moz-font-feature-settings: 'case';     /* low-level (old Firefox)      */
-webkit-font-feature-settings: 'case';  /* low-level (old Webkit)       */
font-feature-settings: 'case' on;       /* low-level (all new browsers) */
hyphens: auto;
     cursor: none;
}


/* Infos Font Entete */

.infosdistance{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 1vw;
    padding-top: 0.5vh;
    font-variation-settings: 'opsz' 50;
    font-size: 1.8vw;
    
}

.distance{
    width: 33%;
}

.font{
    width: 33%;
}

.Fontname{
    width: 33%;
}


/* Wrappers */

.wrapper {
    overflow-y: hidden;
    height: 100%;
}


.wrapper0{
    width: 100%;
    height: 100vh;
 
    
}


.wrapper1{
    width: 100%;
    height: 100vh;
    
}

.wrapper2{
    width: 100%;
    height: 100vh;
    background-color: #ff3737;
    color: black;
}

.wrapper3{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
 }

 .wrapper4{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.wrapper5{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
}

.wrapper6{
    width: 100%;
    height: 100vh;
    background-color: #ff3737;
    color: black;
}

.wrapper7{
    width: 100%;
    height: 100vh;
}

.wrapper8{
    width: 100%;
    height: 100vh;
    background-color: #00d550;
    color: black;
 }

 .wrapper9{
    width: 100%;
    height: 100vh;
}


.wrapper10{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
}

.wrapper11{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

.wrapper12{
    width: 100%;
    height: 100vh;
    background-color: #00d550;
    color: black;
}


.wrapper13{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
}

.wrapper14{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
 }

 .wrapper15{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
}




/* Page1 */

.page1{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;
}

.page0{
    font-variation-settings: 'opsz' 200;

    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;
}
/* Page2 */

.page2{
    width: inherit;
    text-align: left;
    padding-top: 6.5vh;
    padding-left: 1.5vw;
    font-size: 58vw;
    line-height: 0.72;
   
}

/* Page3 */

.page3{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 22vw;
    line-height: 0.8;
   
}

/* Page4 */

.page4{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-top: 3vh;
   
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.page4wrapper2{
    position: absolute;
    padding-right: 1.5vw;
    bottom:1.5vh
}

.page4text1{
    font-size: 3.2vw;
    line-height: 1.1;
}

.page4text2{
    padding-top: 1.5em;
    column-count: 2;
    column-gap: 1em;
    font-size: 1.5vw;
    line-height: 1.2;
}

.page4text3{
    
    column-span: all;
    font-size: 3.2vw;
    line-height: 1.1;

}

.page4text4{
    padding-top: 1.5em;
    column-count: 2;
    font-size: 1.5vw;
    line-height: 1.2;
}

.page4numero{
    padding-top: 0.8vh;
    font-size: 20vw;
}

.page4text2entete{
    padding-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5vw;
    column-gap: 1em;
}

.page4text4entete{
    padding-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5vw;
    column-gap: 1em;
}

/* Page5 */

.page5{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;
}

/* Page6 */
.page6{
    width: inherit;
    text-align: left;
    padding-top: 6.5vh;
    padding-left: 1.5vw;
    font-size: 58vw;
    line-height: 0.72;
}
/* Page7 */
.page7{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;  
}


.flextext{
    display: flex;
    justify-content: space-between;
}

/* Page8 */
.page8{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 4vh;
    font-size: 101vw;
    line-height: 0.9;
}

/* Page9 */
.page9{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;
}


/* Page10 */
.page10{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 22vw;
    line-height: 0.8;
   
}

/* Page11 */
hr{
    border: 1px solid rgb(255, 255, 255);

    width: 100%;
}
.page11{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-top: 3vh;
   
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.page11wrapper2{
    position: absolute;
    padding-right: 1.5vw;
    bottom:1.5vh
}


.page11text1{
    font-size: 3.2vw;
    line-height: 1.1;


}

.page11text2{
    padding-top: 1.5em;
    column-count: 2;
    font-size: 1.5vw;
    line-height: 1.2;
}

.page11text2entete{
    padding-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5vw;
    column-gap: 1em;
}
.page11text4entete{
    padding-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5vw;
    column-gap: 1em;
}

.page11text3{
    column-span: all;
    font-size: 3.2vw;
    line-height: 1.1;

}

.page11text4{
    padding-top: 1.5em;
    column-count: 2;
    font-size: 1.5vw;
    line-height: 1.2;
}

.page11numero{
    font-size: 20vw;
    padding-top: 4.5vh;
  
    line-height: 0.8;
}


/* Page12 */
.page12{
    width: inherit;
    text-align: left;
    padding-top: 6.5vh;
    padding-left: 1.5vw;
    font-size: 58vw;
    line-height: 0.72;
}

/* Page13 */
.page13{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;
}

/* Page14 */
.page14{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 14vw;
    line-height: 0.9;
   
}

/* Page15 */

.page15{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    font-size: 10vw;
    line-height: 1;

  
   
   
}



/* Hide/Show */

#defaultCanvas0{
    visibility: hidden;
}

.wrapper0{
    display: flex;
}


.wrapper1{
    display: none;
}
.wrapper2 {
    display: none;
}
.wrapper3 {
    display: none;
}

.wrapper4{
    display: none;
}

.wrapper5{
    display: none;
}

.wrapper6{
    display: none;
}

.wrapper7{
    display: none;
}


.wrapper8{
    display: none;
}

.wrapper9{
    display: none;
}

.wrapper10{
    display: none;
}


.wrapper11{
    display: none;
}


.wrapper12{
    display: none;
}

.wrapper13{
    display: none;
}

.wrapper14{
    display: none;
}

.wrapper15{
    display: none;
}











